# ============================================================
# ALGOJO WEB — Environment Variables
# Salin file ini jadi .env lalu isi nilainya
# ============================================================

# Server
PORT=3000
NODE_ENV=development

# JWT Secret — GANTI dengan string random panjang!
JWT_SECRET=GANTI_DENGAN_RANDOM_STRING_YANG_PANJANG_DAN_AMAN
JWT_EXPIRE=7d

# MongoDB (sama dengan WA Bot)
MONGODB_URI=mongodb+srv://aryarizky04:Arya260408@wabot.nsoro0p.mongodb.net/?appName=WAbot

# App
APP_URL=http://localhost:3000
BOT_NAME=AlgojoGacor

# External APIs (sama dengan WA Bot)
ELEVENLABS_API_KEY=sk_bd4415726c3f7e0aa7dda65fcfa1fa225d235304007e21ba
OPENROUTER_API_KEY=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
REMOVE_BG_API_KEY=9ztsXGqLHTuwLD2mJo3zboZJ
VOICERSS_API_KEY=aaad5aae5d994139b5cfc6a2a1f4a3a7

# Developer IDs (pisah dengan koma jika lebih dari 1)
DEVELOPER_IDS=244203384742140@lid
